@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #46474a;
  font-family: "Rockwell Nova" ;
}
.topBar h1 {
  color: #fff;
  font-size: 29px; 
}

.navbar {
  background: #393838;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 35px;
}

li {
  float: left;
  list-style-type: none;
}

li a {
  color: #eee;
  text-decoration: none;
  padding: 10px 20px;
  margin: 2px;
  transition: 0.5s linear;
  font-size: 17px;
}
li a:hover {
  background: #DAF7A6;
  color: #222831;
  border-radius: 50px;
  animation: flash 1.5s ease-out;
}

@keyframes flash {
50% {
      background-color: #eee;
      color: #c9c9cb;
      border-radius: 15px;
      border-radius: 2px 25px 2px 25px;
  }
}

.topBar .toggle {
  display: none;
  cursor: pointer;
}

@media (max-width: 740px) {
  .navbar {
    flex-direction: column;
    text-align: center;
  }

  li {
    float: none;
    margin: 30px;
    animation: slide 0.5s ease-in-out 1;
  }

  li a {
    font-size: 20px;
  }

  .navMenu {
    background: #2c3440;
    width: 100%;
    margin-top: 30px;
    border-radius: 10px;
    display: none;
  }

  .topBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .topBar .toggle {
    font-size: 30px;
    display: block;
    color: #eee;
  }
}

.container{
  color: #fff;
  margin-left: 8%;
  margin-top: 5%;
  
}
@keyframes shade {
  0% {
    transform: translateX(-650px);
    width: 100%;
    display: inline-flex;
    font-size: 10px;
    font-family: 'BubbleGum',  sans-serif;
     }
  50%{
    transform: translateX(10px);
    width: 100%;
    font-family: 'CHEESE PIZZA',  sans-serif;
    display: block;
    font-size: medium;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    display: flex;
  }
}

  
.cont{
  font-size: 30px;
  font-weight: 50em;
  letter-spacing: 2px;
  width: 26%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  animation: shade 3.3s ease-out ;
}
h2{
  font-size: 15px;
  font-weight: 30em;
  letter-spacing: 2px;
  width: 30%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  animation: shade 3.5s ease-out ;
}
.hcnt{
  width: 30%;
  font-size: 12px;
  font-family: "Bunya PERSONAL" ;  
  letter-spacing: 1px;
  /*font-family: "Cascadia Mono" ; */
  animation: shade 3.6s ease-out ;
}
.int-box{
  padding-left: 50%;
  margin-top: -10%;
  display: flex;
  width: 100%;
  animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) dlay;
  animation-delay: 5s;
}
.int-box{
  animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) dlay;
  animation-delay: 3s;
  opacity: 0;
}
@keyframes dlay {
   from {
      transform: translate3d(-50%, 0, 0) skewY(20deg);
      opacity: 0;
  }
   60% {
       transform: skewY(-10deg);
       opacity: 1;
  }
   80% {
       transform: skewY(2deg);
  }
   to {
       opacity: 1;
       transform: translate3d(0, 0, 0);
  }
}

.form-text{
  background: transparent;
  color: ghostwhite;
  width: 350px;
  height: 40px;
  font-size: 15px;
  color: #cfee95;
  padding-left: 5px;
}

.form-text:hover{
  box-shadow: inset 2px 2px 3px #f5fde728;
  color: #ddfca5;
  border: none;
  padding-left: 5px;
  animation-name: fadeInOut, moveLeft300px, bounce;
} 
 .btn{
  background-color: transparent;
  color: ghostwhite;
  width: 100px;
  height: 40px; 
  font-size: 15px;
  box-shadow: 2px 2px 3px #6b6b6b;
}
.btn:hover{
  background-color: #d0ef95;
  box-shadow: inset 2px 2px 3px #a7c178;
  box-shadow: 1px 1px 2px 1.5px #ddfca3;
  color: #2c3440;
  border: none;
  font-size: 15px;
} 
.cnt{
  color: whitesmoke;
  padding: 5px;
  font-size: 12px;
  font-weight: 10em;
  font-family: "Bunya PERSONAL" ;  
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 10px;
}

#sow-lnk{
  margin: -33px 80px;
  width: 20pc;
  height: 31px;
  background-color: #595959;
  color: #ddfca5;
  border: none;
  overflow-x: hidden;
  position: relative;
  box-shadow: inset 1px 1px 3px #5f605f;
  box-shadow: 1px 1px 1px 1px #020505;
}
.lik{
  text-align: center;
  padding: 6px 40px 0px 0px;
  font-size: 13px;
}
.cant{
  text-align: center;
  padding: 20px 20px;
}
#close{
  background-color: transparent;
  border: none;
  position: absolute;
  top: 1px;
  right: 2px;
}
.fil0 {fill:black}
.fil1 {fill:#020202}
.fil2 {fill:#FF7863}

.copy{
  width: 75px;
  height: 35px;
  position: relative;
  cursor: pointer;
  background: #444;
  color: whitesmoke;
  font-size: 15px;
}

.qr{
  position: absolute;
  margin: 1px 360px;
  padding: 2px;
  width: 40px;
  height: 32px;
  background-attachment: fixed;
  background-color: #393838;
  color: whitesmoke;
  box-shadow: none;
  border: none;
}

.qr:hover, .copy:hover{
  background-color: #d0ef95;
  box-shadow: inset 2px 2px 3px #a7c178;
  box-shadow: 1px 1px 2px 1.5px #ddfca3;
  color: #2c3440; 
  border: none;
  font-size: 15px;
  font-weight: 500;
} 

/* 
#qr-im{
  margin: 1px 80px;
  padding: 2px;
  width: 17.5pc;
  height: 0px;
  background-color: #83878987;
  position: absolute;
  display: none;
  transition: 50s;
} */

.dlg{
  left: 82px;
  position: relative;
  z-index: -1;
  border: none;
  margin: 2px;
  transition: 2s linear;
}

#qr-im{
  width: 17pc;
  height: 3px; 
  background-color: #4c4a4abc;
  overflow: hidden;
  transition: height 1s ease-in-out;
  text-align: center;
}
#qr-im.expanded {
  transition: .5s ease-in-out;
  padding: 40px;
  height: 250px;
}
.do-btn{
  position: absolute;
  text-align: center;
  width: 100%;
  height: 25px;
  background-color: #ddfca3;
  z-index: 2;
  font-size: 13px;
  font-weight: 400px;
  border: none;
}
.do-btn:hover{
  background-color: #e5ff8ff7;
  font-weight: 500;
}
.form-popup {
  display: none;
  position: absolute;
  border: none;
  text-align: center;
  width: 100%;
  height: 10.2%;
  z-index: 5; 
}

.do-s,.do-j,.do-p{
  width: 5.3pc;
  height: 80%;
  display: inline-block;
  background-color: #d6fa93;
  color: #444;
  font-size: 15px;
  border: none;
}
.do-s:hover,.do-j:hover,.do-p:hover{
  background-color: #b5dc6d;;
  color: #020202;
  font-weight: 540;
  border-radius: 4px ;
  transition: 1s;
}
.ctn-ht{
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: 10px;
}
.ctn-st{
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 15px;
}
.ctn-o{
  background-color: #2d2d2d68;
  height: fit-content;
  color: #eee;
  margin-top: 8%;
  margin-bottom: 2%;
  z-index: -1;
  position: relative;
  display: grid; 
  flex-wrap: wrap;
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}
.cot{
    position: relative;
    color: #ffffff;
    display: block; 
    width: 27%;
    margin-left: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.fed{
  margin-top: 2px;
  margin-bottom: 4px;
  font-size: 28px;
  font-size: max(26px, 1.5em);
}
.fma,.fna{
  display: flexbox;
  width: 49%; 
  border: none;
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #535252;
  box-shadow: inset -2px -2.5px 10px #c9c7c7;
  box-shadow: inset 1.5px 2px 5px #282828;
  /* filter: drop-shadow(1.5px 2px 32px #3c3c3c); */
  color: whitesmoke;
}
.txt-cmt{
  margin-top: 1%;
  width: 100%;
  border: none;
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #535252;
  box-shadow: inset -2px -2.5px 10px #c9c7c7;
  box-shadow: inset 1.5px 2px 5px #282828;
  /* filter: drop-shadow(1.5px 2px 32px #3c3c3c); */
  color: whitesmoke;
  overflow: auto;
  resize:none
}

.btn-snd{
  margin-top: 1%;
  width: 100%;
  border: none;
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #535252;
  box-shadow: inset -2px -2.5px 10px #c9c7c7;
  box-shadow: inset 1.5px 2px 5px #282828;
  /* filter: drop-shadow(1.5px 2px 32px #3c3c3c); */
  color: whitesmoke;
  font-weight: 525;
}
.txt-cmt::-webkit-scrollbar {
  display: none;
}

.txt-cmt:hover,.fma:hover,.fna:hover{
  box-shadow: inset -1.5px -2px 5px #747373;
  box-shadow:  1.5px 1.5px 4px #c3ff53;
  background-color: #5353536f;
}
.btn-snd:hover{
  box-shadow: inset -1.5px -2px 5px #747373;
  box-shadow:  1.6px 1.5px 4px #d6fa93;
  background-color: #d0fa82;
  color: #444;
  font-weight: 550;
}
.fot{
  margin-top: 10px;
  z-index: -1;
  width: 100%;
  height: 20px;
  position: static;
  bottom: 0%;
  background-color: #020202;
}